<nav>
  <ul id="menu">
    <li><%=link_to 'Log in', login_path %></li>
    <li><%= link_to 'Sign up', signup_path %></li>
  </ul>
</nav>
<section>
  <h1>Welcome</h1>
  <p>
  This web application is created for your ease in accessing and transfering your files.
  They will be available after you log in to the system.
  Then you can start downloading, uploading and deleting files.

  If you do not have account, you can create one by clicking "Sign up" and fill in the form.
  </p>
</section>
