@import "bootstrap-sprockets";
@import "bootstrap";

header {
    background-color: #5CADFF;
    color:white;
    text-align:center;
    padding:5px;	 
}
nav {
    line-height:30px;
    background-color:#3399FF;
    height:650px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width:800px;
    height: 600px;
    float:left;
    padding:10px;
}

footer {
  background-color:#a8a8a8;
  color:white;
  clear:both;
  text-align:center;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* sidebar */

aside {
  section.user_info {
  margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

/*Users index*/
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
/*
.menu {
  margin-left: 20px;
  ul.topnav {
    list-style: none;
    margin: 0;
    padding: 0 20px;
    float: left;
    background: #222;
  }
  ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative;
  }

  ul.topnav li a {
    padding: 10px 15px;
    color: #fff;
    display: block;
  }

  ul.topnav li a:hover {
    background: #808c99;
  }

  ul.topnav li span {
    width: 17px;
    height: 35px;
    float: left;
  }

  ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;}

  ul.topnav li span.subnav {
    list-style: none;
    position: absolute;
    left: 0; top: 35px;
    background: #333;
    display: none;
    float: left;
    width: 170px;
    border: 1px solid #111;
  }

  ul.topnav li ul.subnav li {
    margin: 0; padding: 0;
    border-top: 1px solid #252525; *--Create bevel effect--/
    border-bottom: 1px solid #444; *--Create bevel effect--/
    clear: both;
    width: 170px;
  }

  html ul.topnav li ul.subnav li a {
    float: left;
    width: 145px;
    background: #333;
    padding-left: 20px;
  }

  html ul.topnav li ul.subnav li a:hover {
    background: #222;
  }
}
*/

.menu{
  background: grey;
}

.menu ul.topnav {
  list-style: none;
  color: red;
  display: inline-block;
  /*float: left;*/
  li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative;
    a {
      padding: 10px, 15px;
      color: #fff;
      display: block;
    }
    a:hover { background: #808c99; }
    span {
      width: 17px;
      height: 35px;
      float: left;
      background: blue no-repeat center top;
      .subhover { background-position: center bottom; cursor: pointer; }
    }
  }
}

.menu  ul.topnav li span.subnav {
  list-style: none;
  position: absolute;
  left: 0; top: 35px;
  background: #333;
  display: none;
  float: left;
  width: 170px;
  border: 1px solid #111;
}

.menu ul.topnav li ul.subnav li {
  margin: 0; padding: 0;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #444;
  clear: both;
}

html ul.topnav li ul.subnav li a {
  float: left;
  width: 145px;
  background: #333;
  padding-left: 20px;
}

html ul.topnav li ul.subnav li a:hover {
  background: #222;
}
